@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
:root {
  --col1: #150734;
  --col2: #ffff;
  --col3: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.container{
width:100%;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
overflow: hidden;
}
.navbar{
width:100%;
display:flex;
align-items: center;
}
.logo{
    width: 180px;
    cursor:pointer;
    margin: 30px 0;;
}
.menu-icon{
    width: 25px;
    cursor:pointer;
    display: none;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: var(--col3);
    font-size: 20px;
}
nav ul li a:hover{
    color:var(--col1);
}
h2{
    margin-top: 10px;
    color: var(--col1);
    text-align: center;
}
/*card begins*/
.card {
  /* Add shadows to create the "card" effect */
  display:inline-block;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:270px;
  height: 250px;
  border-radius: 10px;
  transition: 0.3s;
}
.card img {
  width: 190px;
  height:190px;
  border-radius: 10px 10px 10px 10px;
}
.card h4{
  margin-top: 10px;;
  text-align: center;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card .cont_1 {
  padding: 2px 16px;
}
/*card end*/
  @media only screen and (max-width:800px){
    nav ul{
        width:100%;
        background:linear-gradient(var(--col1),var(--col2));
        position:absolute;
        top:95px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display:block;
        margin-top:10px;
        margin-bottom:10px;
        margin-right: 290px;
    }
    nav ul li a{
color:var(--col2);
    }
    .menu-icon{
        display: block;
    }
    #menu{
        overflow: hidden;
        transition: 0.5s;
    }
    .card{
      margin-left: 80px;
    }
}